@page "/edit"

@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<PageTitle>Edit</PageTitle>
@if (OperatingSystem.IsBrowser() == false)
{
	<p>Still rendering on the server</p>
}
else if (qnaSets == null)
{
	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5"><b>Loading...</b></MudText>
				</MudCardHeader>
			</MudCard>
		</MudItem>
	</MudGrid>
}
else
{
	<MudThemeProvider IsDarkMode="true" />

	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" sm="6">
			<MudCard GutterBottom="true">
				<MudCardHeader>
					<MudText Typo="Typo.h5"><b>Edit FAQs</b></MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudText>Here you can view and edit FAQs and create new FAQs and Lists</MudText>
				</MudCardContent>
			</MudCard>
		</MudItem>
	</MudGrid>
	<br />
	<br />

	<MudGrid Justify="Justify.Center">
		@foreach (var qnaset in qnaSets)
		{
			<MudItem xs="12" sm="6">
				<MudCard>
					<MudCardHeader>
						<MudGrid Justify="Justify.Center">
							<MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(() => DeleteQnASetAsync(qnaset.QnASetId))">
								<MudIcon Icon="@Icons.Material.Filled.Delete" />
							</MudButton>
							<MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@(() => EditQnaSetAsync(qnaset))">
								<MudIcon Icon="@Icons.Material.Filled.Edit" />
							</MudButton>
						</MudGrid>

					</MudCardHeader>
					<MudCardContent>
						<MudText Label="Set Name">@qnaset.Name</MudText>
						<MudText Label="Set Description">@qnaset.Description</MudText>
					</MudCardContent>
				</MudCard>
				<MudCard>
					<MudCardHeader>
						<MudText Typo="Typo.h3"><u>Q&As:</u></MudText>	
					</MudCardHeader>
					<MudCardContent>
						@foreach (var qna in qnaset.QnAs)
						{
							<MudGrid Justify="Justify.SpaceBetween">
								<MudItem xs="12" sm="9">
									<MudText Typo="Typo.h5">@qna.Question</MudText>
									<MudText>@qna.Answer</MudText>
								</MudItem>
								<MudItem>
									<MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(() => DeleteQnAAsync(qna.QnaId))">
										<MudIcon Icon="@Icons.Material.Filled.Delete" />
									</MudButton>
									<MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@(() => EditQnAAsync(qna))">
										<MudIcon Icon="@Icons.Material.Filled.Edit" />
									</MudButton>
								</MudItem>

							</MudGrid>
							<br />
						}
						<MudGrid Justify="Justify.Center">
							<MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@(() => CreateQnAAsync(qnaset.QnASetId))">
								<MudIcon Icon="@Icons.Material.Filled.Add" />
							</MudButton>
						</MudGrid>
					</MudCardContent>
				</MudCard>
			</MudItem>
		}

	</MudGrid>

	<br />
	<br />
	<br />
	<MudGrid Justify="Justify.Center">
		<MudButton Color="Color.Success" Variant="Variant.Filled" @onclick="CreateQnASetAsync">
			<MudIcon Icon="@Icons.Material.Filled.Add" />
		</MudButton>
		<MudButton Color="Color.Primary" Variant="Variant.Filled" Href="/">
			<MudIcon Icon="@Icons.Material.Filled.Home" />
		</MudButton>
	</MudGrid>
	<style>
		.bg-blur {
		backdrop-filter: blur(10px);
		}
	</style>

}
@code {
	private List<QnASet> qnaSets = new();
	private QnASetModel? qnaSetModel = new();
	private IFAQApiService? FAQApiService;
	private bool initialized;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
		{
			FAQApiService = ServiceProvider.GetRequiredService<IFAQApiService>();

			qnaSets = await FAQApiService.GetQnASetsAsync();
			foreach (var qnaSet in qnaSets)
			{
				qnaSet.QnAs = await FAQApiService.GetQuestionsByQnASetIdAsync(qnaSet.QnASetId);
			}

			initialized = true;
			StateHasChanged();
		}
	}

	private async Task DeleteQnAAsync(int qnaId)
	{
		await FAQApiService.DeleteQnAAsync(qnaId);
		await InitializeQnASets(); 
		StateHasChanged(); 
	}

	private async Task DeleteQnASetAsync(int qnaSetId)
	{
		await FAQApiService.DeleteQnASetAsync(qnaSetId);
		await InitializeQnASets(); 
		StateHasChanged(); 
	}

	private async Task CreateQnASetAsync()
	{
		await OpenQnASetCreateDialogAsync();
	}

	private async Task EditQnaSetAsync(QnASet qnaSet)
	{
		var parameters = new DialogParameters();
		parameters.Add("qnaSet", qnaSet);
		var options = new DialogOptions { BackgroundClass = "bg-blur" };
		var dialog = await DialogService.ShowAsync<QnASetEditModal>("Edit Q&A Set", parameters, options);
		var result = await dialog.Result;
		if (!result.Canceled)
		{
			qnaSet = (QnASet)result.Data;
			await FAQApiService.UpdateQnASetAsync(qnaSet);
			await InitializeQnASets();
			StateHasChanged();
		}
		else
		{
			Console.WriteLine("Dialog was cancelled");
		}

	}

	private async Task OpenQnASetCreateDialogAsync()
	{
		var parameters = new DialogParameters();
		parameters.Add("QnASet", new QnASet());
		var options = new DialogOptions { BackgroundClass = "bg-blur" };
		var dialog = await DialogService.ShowAsync<QnASetModal>("New Q&A Set", parameters, options);
		var result = await dialog.Result;
		if (!result.Canceled)
		{
			var qnaSet = (QnASet)result.Data;
			await FAQApiService.AddQnASetAsync(qnaSet);
			await InitializeQnASets();
			StateHasChanged();
		}
		else
		{
			Console.WriteLine("Dialog was cancelled");
		}

	}

	private async Task CreateQnAAsync(int QnASetId)
	{
		await OpenQuestionEditDialogAsync(QnASetId);
	}

	private async Task OpenQuestionEditDialogAsync(int QnASetId)
	{
		var parameters = new DialogParameters();
		parameters.Add("QnASetId", QnASetId);
		parameters.Add("QnA", new QnA());
		var options = new DialogOptions { BackgroundClass = "bg-blur" };

		var dialog = await DialogService.ShowAsync<QnAModal>("New Q&A", parameters, options);
		var result = await dialog.Result;

		if (!result.Canceled)
		{
			var qna = (QnA)result.Data;
			qna.QnASetId = QnASetId;
			await FAQApiService.AddQnAAsync(qna);
			await InitializeQnASets();
			StateHasChanged();
		}
		else
		{
			Console.WriteLine("Dialog was cancelled");
		}
	}

	private async Task EditQnAAsync(QnA qna)
	{
		var parameters = new DialogParameters();
		parameters.Add("qna", qna);
		var options = new DialogOptions { BackgroundClass = "bg-blur" };
		var dialog = await DialogService.ShowAsync<QnAEditModal>("Edit Q&A", parameters, options);
		var result = await dialog.Result;
		if (!result.Canceled)
		{
			qna = (QnA)result.Data;
			await FAQApiService.UpdateQnAAsync(qna);
			await InitializeQnASets();
			StateHasChanged();
		}
		else
		{
			Console.WriteLine("Dialog was cancelled");
		}
		
	}

	private async Task InitializeQnASets()
	{
		qnaSets = await FAQApiService.GetQnASetsAsync();
		qnaSets = qnaSets.OrderBy(q => q.Name).ToList();
		foreach (var qnaSet in qnaSets)
		{
			qnaSet.QnAs = await FAQApiService.GetQuestionsByQnASetIdAsync(qnaSet.QnASetId);
			qnaSets = qnaSets.OrderBy(q => q.Name).ToList();

		}
	}

	private class QnASetModel
	{
		public string? Name { get; set; }
		public string? Description { get; set; }
		public int QnASetId { get; set; }
	}
}
