@page "/edit"

@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>
@if (OperatingSystem.IsBrowser() == false)
{
	<p>Still rendering on the server</p>
}
else if (qnaSets == null)
{
	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5"><b>Loading...</b></MudText>
				</MudCardHeader>
			</MudCard>
		</MudItem>
	</MudGrid>
}
else
{
	<MudThemeProvider IsDarkMode="true" />
	<MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Href="/">Home</MudButton>

	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" sm="6">
			<MudCard GutterBottom="true">
				<MudCardHeader>
					<MudText Typo="Typo.h5"><b>Edit FAQs</b></MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudText>Here you can view and edit FAQs and create new FAQs and Lists</MudText>
				</MudCardContent>
			</MudCard>
		</MudItem>
	</MudGrid>
	<hr />

	<MudGrid Justify="Justify.Center">
		@foreach (var qnaset in qnaSets)
		{
			<MudItem xs="12" sm="6">
				<MudCard>
					<MudCardHeader>
						<MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(() => DeleteQnASetAsync(qnaset.QnASetId))">
							<MudIcon Icon="@Icons.Material.Filled.Delete" />Delete Set
						</MudButton>
						<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => SaveQnASetAsync(qnaset))">
							<MudIcon Icon="@Icons.Material.Filled.Save" /> Save Set
						</MudButton>
					</MudCardHeader>
					<MudCardContent>
						<MudTextField Label="Set Name" @bind-Value="qnaset.Name" Variant="Variant.Outlined" />
						<MudTextField Label="Set Description" @bind-Value="qnaset.Description" />
					</MudCardContent>
				</MudCard>
				<MudCard>
					<MudCardHeader>
						<MudText Typo="Typo.h6">Questions</MudText>	
					</MudCardHeader>
					<MudCardContent>
						@foreach (var qna in qnaset.QnAs)
						{
							<br />
							<MudTextField Label="Question" @bind-Value="qna.Question" Variant="Variant.Outlined" />
							<MudTextField Label="Answer" @bind-Value="qna.Answer" />
							<br />
							<MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(() => DeleteQnAAsync(qna.QnaId))">
								<MudIcon Icon="@Icons.Material.Filled.Delete" /> Delete Q&A
							</MudButton>
							<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => SaveQnAAsync(qna))">
								<MudIcon Icon="@Icons.Material.Filled.Save" /> Save Q&A
							</MudButton>
							<MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@(() => CreateQnAAsync(qnaset.QnASetId))">
								<MudIcon Icon="@Icons.Material.Filled.Add" /> Add Q&A
							</MudButton>
						}
					</MudCardContent>
				</MudCard>
			</MudItem>
		}
	</MudGrid>
			
	<br />
	<br />
	<br />
	<MudGrid Justify="Justify.Center">
		<MudButton Color="Color.Success" Variant="Variant.Filled" @onclick="CreateQnASetAsync">
			Create New Set
		</MudButton>
	</MudGrid>

}
@code {
	private List<QnASet> qnaSets = new();
	private QnASetModel? qnaSetModel = new();
	private IFAQApiService? FAQApiService;
	private bool initialized;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
		{
			FAQApiService = ServiceProvider.GetRequiredService<IFAQApiService>();

			qnaSets = await FAQApiService.GetQnASetsAsync();
			foreach (var qnaSet in qnaSets)
			{
				qnaSet.QnAs = await FAQApiService.GetQuestionsByQnASetIdAsync(qnaSet.QnASetId);
			}

			initialized = true;
			StateHasChanged();
		}
	}

	private async Task DeleteQnAAsync(int qnaId)
	{
		await FAQApiService.DeleteQnAAsync(qnaId);
		await InitializeQnASets(); 
		StateHasChanged(); 
	}

	private async Task DeleteQnASetAsync(int qnaSetId)
	{
		await FAQApiService.DeleteQnASetAsync(qnaSetId);
		await InitializeQnASets(); 
		StateHasChanged(); 
	}

	private async Task CreateQnASetAsync()
	{
		await FAQApiService.AddQnASetAsync(new QnASet());
		await InitializeQnASets(); 
		StateHasChanged(); 
	}

	private async Task CreateQnAAsync(int QnASetId)
	{
		QnA qna = new QnA();
		qna.QnASetId = QnASetId;
		qna.Question = "Question?";
		qna.Answer = "Answer";
		await FAQApiService.AddQnAAsync(qna);
		await InitializeQnASets();
		StateHasChanged(); 
	}

	private async Task SaveQnAAsync(QnA qna)
	{
		await FAQApiService.UpdateQnAAsync(qna);
		await InitializeQnASets();
		StateHasChanged();
	}

	private async Task SaveQnASetAsync(QnASet qnaSet)
	{
		await FAQApiService.UpdateQnASetAsync(qnaSet);
		await InitializeQnASets();
		StateHasChanged();
	}

	private async Task InitializeQnASets()
	{
		qnaSets = await FAQApiService.GetQnASetsAsync();
		foreach (var qnaSet in qnaSets)
		{
			qnaSet.QnAs = await FAQApiService.GetQuestionsByQnASetIdAsync(qnaSet.QnASetId);
		}
	}

	private class QnASetModel
	{
		public string? Name { get; set; }
		public string? Description { get; set; }
		public int QnASetId { get; set; }
	}
}
